


body{
    background-color: darkgrey;
}

h1{
    text-align: center;
    color: darkslategray;
    font-size: 45px;
    background-color: rgb(80, 191, 255);
    margin: 10px;
    padding: 5px;
}
p{
    
    font-size: 30px;
    
}
footer{text-align: center;}

#para1{
    text-align: center;
    font-size: 30px;
}
#para2{
    text-align: center;
    font-size: 25px;
}



#list1{
    font-size: 25px;
}
#list2{
    font-size: 25px;
}